*{
	
	padding: 0px;
	margin: 0px;
	
} 
	
body{
	background-color: #f9136b;
}
/*----------------------------------Head-------------------------------------------------------*/

#headerconfoto{
	
	margin-left: 40%;
	
}

#logo{
	width: 300px;

	display: block;
	background-color: #2b0b56;
	border-radius: 10px;
}

#header{
	display: block;
	margin-left: 5%;
	width: auto;
	background-color: #000;
	margin-left: 45px
}

ul, ol {
	list-style: none;
}
.nav li a{
	background-color: #2b0b56;
	color: #fff;
	text-decoration: none;
	padding: 10px 10px;
	display: block;
	

}


.nav li a:hover {
	background-color: #fff;
	color: #000;

}

.nav > li {
	float:left;

}

.nav li ul {
	display: none;
	position: absolute;
	min-width: auto;

}

.nav li:hover > ul {
	display: block;
}

@media only screen and (max-width: 860px) {
	#headerconfoto{
		margin-left: 26%;	
}
}

/*publicaciones -------------------------------------------------------------------------*/




#principal{
	
	width: 80%;
	float:left;

	margin: 10px auto;
	
}

#publicaciones{
	width: 100%;
	height: auto; overflow: hidden;
	margin-top: 10px;
	margin-left: 15px;

}

.post{
	width: 95%;
	height: auto; overflow: hidden;
	margin-top: 25px;
	padding: 7px 0px 7px 7px;
	background: #2b0b56;
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: #220D3E;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #220D3E;
	border-radius: 25px 25px 25px 25px;
	
	background-color: #2b0b56;	
	box-shadow: 13px 0px 13px;

} 


#publicaciones .titulo-post{
	font-size: 25px;
	font-style: 'arial';
	text-align:center;
	text-decoration: underline;
	color: #B0AEB2;
}

#publicaciones .img-post{
	width: 200px;
	height: 200px;
	float: left;
	margin: 7px 7px 7px 0px;
	padding: -5px;

}
 


#publicaciones .fecha{
	font-family: 'calibri light';
	color: #B0AEB2;
}
#publicaciones .fech{
	font-family: 'calibri light';
	color: #B0AEB2;
}
#publicaciones .parrafo-post{
	font-family: 'calibri light';
	font-size: 16px;
	color: #fff;
	padding: 0px;
	margin-top: 0px;
}







/*Hacer Comentarios -------------------------------------------------------------------------*/
.hcomen{
	width: 80%;
	height: auto; overflow: hidden;
	margin-left: 20px;
	padding: 1px;
	background: #2b0b56;
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: #220D3E;
	border-radius: 0px 0px 25px 25px;
	background-color: #291149;
	border-top-style: solid;
	border-top-style: 2px;
	border-top-color: #000;
} 
#hcomenta .instrucomen{
	margin-left: 20px;
	font-family: 'calibri light';
	color: #fff;
	font-size: 15px;
}

#hcomenta .Nombretext{
	margin-left: 25px;
	width: 25%;
}

#hcomenta .Comentario{
	margin-left: 25px;
	width: 90%;
	height: 70px;
}
#hcomenta .boton{
	margin-left: 25px;
	height: 50px;
	width: 100px;
	
}



/*Comentarios -------------------------------------------------------------------------*/

.comen{
	width: 80%;
	height: auto; overflow: hidden;
	margin-left: 20px;
	padding: 1px;
	background: #2b0b56;
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: #220D3E;
	background-color: #291149;	
	border-top-style: solid;
	border-top-style: 2px;
	border-top-color: #000;
}
#comen .nombre{
	margin-top: 1.5%;
	margin-left: 20px;
	
	color: #fff;
	font-size: 15px;
}
#comen .comentario{
	margin-top: 1px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
	color: #fff;
	font-size: 15px;
}




/*Nosotros -------------------------------------------------------------------------*/

#separado{
	float:left;
	width: 50%;
	height: auto; overflow: hidden;

	margin: 10px auto;
}

#cargos{
	width: 75%;
	height: auto; overflow: hidden;
	margin-top: 10px;


}

.seccion{
	width: 96%;
	height: auto; overflow: hidden;
	padding: 7px;
	background: #2b0b56;
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: #2b0b56;
	border-radius: 25px;
	margin-bottom: 20px;
	background-color: #2b0b56;	
	box-shadow: 8px 8px 8px ;
} 


#cargos .cargo-seccion{
	font-size: 25px;
	font-style: 'arial';
	text-decoration: underline;
	text-align: center;
}

#cargos .imgc-post{
	width: 100px;
	height: 100px;
	float: left;
	margin: 7px 7px 7px 0px;
	padding: -5px;

}
 



#cargos .datos-seccion{
	font-family: 'calibri light';
	font-size: 16px;
	color: #fff;
	padding: 0px;
	margin-top: 0px;
}



/*Nosotros derecha -------------------------------------------------------------------------*/

#separado2{
	float: right;
	width: 50%;
	height: auto; overflow: hidden;

	margin: 10px auto;
}


/*ads footer--------------------------------------*/

#ads{
	right: 0;
	top: 0;
	width: 100%;
	position: fixed;
    height: 90%;
    min-width: 20%;
    max-width: 20%;
    margin: 45px auto;
}

#ads .adsBox {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 80%;
}

#ads .adsBox img {
    min-width: 89%;
    max-width: 89%;
    min-height: 100%;
    height: 65%;
}